code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}
:root {
  --primary-color: 191, 36, 152;
}

.hover:hover {
  color: rgb(var(--primary-color));
}
.primary-color {
  color: rgb(var(--primary-color));
}
.secondary {
  color: grey;
}

/* Jumbotron */
.jumbotron {
  background: url('../src/img/jumbotron-kimson-doan.jpg');
  background-repeat: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
}

/* NavBar */
.nav-item {
  color: white;
}
.nav-item:hover {
  color: rgb(var(--primary-color));
}

/* Form */
.form-size {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  border: thin solid lightgray;
  border-top: solid rgb(var(--primary-color));
  box-shadow: 0px 4px 20px 1px grey;
}
.button {
  color: rgb(var(--primary-color));
}

/* Experience Cards */

.experience-card {
  width: 200px;
  height: 270px;
  box-shadow: 0px 4px 5px 0px grey;
  /* flex: 1; */
  margin-right: 20px;

  flex: 0 0 auto;
}

.experience-user-avatar {
  border-radius: 50%;
  width: 25%;
  border: white solid;
  margin-top: -40px;
  margin-left: 15px;
}

.experience-subheading {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  font-size: small;
}
.experience-card span {
  color: rgb(var(--primary-color));
}
.card-title {
  font-weight: bold;
}

/* Footer */
table {
  width: 100%;
}

td {
  width: 33%;
}

/* xs < 768 */
@media screen and (max-width: 550px) {
  .secondary-nav-item {
    border-right: none;
  }

  .secondary-nav {
    background-color: white;
    box-shadow: 0px 4px 20px 1px grey;
    border-radius: 3px;
    width: 90%;
    margin: auto;
    margin-top: -20px;
  }

  .cards-slider {
    position: relative;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }

  table,
  td {
    font-size: 8px;
    padding: 0;
  }
}

/* xs < 768 */
@media screen and (min-width: 551px) {
  .secondary-nav-item {
    border-right: none;
  }

  .secondary-nav {
    background-color: white;
    box-shadow: 0px 4px 20px 1px grey;
    border-radius: 3px;
    width: 70%;
    margin: auto;
    margin-top: -20px;
  }
}

/* xs < 768 */
@media screen and (min-width: 767px) {
  .secondary-nav {
    background-color: white;
    box-shadow: 0px 4px 20px 1px grey;
    border-radius: 3px;
    width: 50%;
    margin: auto;
    margin-top: -20px;
  }

  .secondary-nav-item {
    border-right: 1px solid lightgrey;
  }
}

/* sm */
@media screen and (min-width: 768px) {
}

/* md */
@media screen and (min-width: 992px) {
}

/* lg */
@media screen and (min-width: 1200px) {
}
