code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.name-font {
  font-family: 'Dancing Script', cursive;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

.bg-color {
  background-color: whitesmoke;
}

:root {
  --primary-color: 191, 36, 152;
}

.hover:hover {
  color: rgb(var(--primary-color));
}
.primary-color {
  color: rgb(var(--primary-color));
}
.secondary {
  color: grey;
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}

/* Jumbotron */
.jumbotron {
  background: url('../img/jumbotron-kimson-doan.jpg');
  background-repeat: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
  /* margin-top: -25px; */
}

.jumbotron h1 {
  padding-top: 50px;
}

/* NavBar */
.nav {
  z-index: 50;
  background-color: white;
  box-shadow: 0px 4px 20px 1px grey;
}

.nav-item {
  color: #4a4a4a;
  z-index: 2;
  padding-left: 3px;
  padding-right: 5px;
}
.nav-item:hover {
  color: rgb(var(--primary-color));
}

/* Secondary NavBar */

.secondary-nav {
  background-color: whitesmoke;
  box-shadow: 0px 1px 10px 0px grey;
  border-radius: 3px;
  width: 300px;
  font-size: 12px;
  margin: auto;
  margin-top: -20px;
}

.secondary-nav-item a {
  padding: 5px;
}

/* Form */
.form-size {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  border: thin solid lightgray;
  border-top: solid rgb(var(--primary-color));
  box-shadow: 0px 4px 20px 1px grey;
}
.button {
  color: rgb(var(--primary-color));
}

.a-heart {
  text-decoration: none;
  /* color: black; */
  color: whitesmoke;
}

.a-heart:hover {
  color: whitesmoke;
}

/* Experience Card */

.experience-card {
  width: 350px;
  height: auto;
  box-shadow: 0px 2px 3px 0px grey;
  /* flex: 1; */
  margin-right: 20px;

  flex: 0 0 auto;
}

.experience-card:hover {
  box-shadow: 0px 4px 4px 0px grey;
}

.heart {
  color: whitesmoke;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.saved {
  color: red;

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.heart-btn {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.heart-btn:hover {
  transform: scale(1.1);
}

.experience-user-avatar {
  border-radius: 50%;
  width: 25%;
  border: white solid;
  margin-top: -40px;
  margin-left: 15px;
}

.experience-subheading {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  font-size: small;
}
.experience-card span {
  color: rgb(var(--primary-color));
}

.card-img-top {
  height: 165px;
}

/* Large Exp Card */

.experience-card-lrg {
  width: 345px;
  height: auto;
  box-shadow: 0px 2px 3px 0px grey;
  /* flex: 1; */
  margin-right: 20px;
  margin-bottom: 20px;
  flex: 0 0 auto;
}
.experience-card-lrg:hover {
  box-shadow: 0px 4px 4px 0px grey;
}

.heart {
  color: whitesmoke;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
}

.saved {
  color: red;
}

.heart-btn {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.experience-user-avatar {
  border-radius: 50%;
  width: 25%;
  border: white solid;
  margin-top: -40px;
  margin-left: 15px;
}

.experience-subheading {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  font-size: small;
}
.experience-card span {
  color: rgb(var(--primary-color));
}

.card-img-top {
  height: 165px;
}

/* Search */

.search-input {
  width: 75%;
}

/* Footer */
table {
  width: 100%;
}

td {
  width: 33%;
}

/* not found */

.not-found {
  background-image: url('../img/404.jpg');
  background-repeat: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
}

.not-found-btn {
  border-radius: 20px;
  background-color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
  border: none;
  width: 120px;
  height: 30px;
  outline: none;
}

/* xs < 768 */
@media screen and (max-width: 550px) {
  .form-size {
    width: 90%;
  }
  .experience-card {
    width: 200px;
    height: 270px;
    /* flex: 1; */
    margin-right: 20px;

    flex: 0 0 auto;
  }

  .experience-user-avatar {
    border-radius: 50%;
    width: 25%;
    border: white solid;
    margin-top: -40px;
    margin-left: 15px;
  }

  .experience-subheading {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    font-size: small;
  }
  .experience-card span {
    color: rgb(var(--primary-color));
  }

  .nav-item {
    font-size: 12px;
  }

  .secondary-nav-item {
    border-right: none;
  }

  .secondary-nav {
    border-radius: 3px;
    width: 300px;
    font-size: 12px;
    margin: auto;
    margin-top: -20px;
  }

  .cards-slider {
    position: relative;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }

  table,
  td {
    font-size: 8px;
    padding: 0;
  }

  .card-img-top {
    height: 120px;
  }

  .card-details {
    font-size: 12px;
  }
  .experience-card-lrg {
    margin: auto;
    margin-bottom: 20px;
  }
  .card-img-top-lrg {
    height: 200px;
  }
}

/* xs < 768 */
@media screen and (min-width: 551px) {
  .form-size {
    width: 90%;
  }
  .experience-card {
    width: 300px;
    height: 320px;
    /* flex: 1; */
    margin-right: 20px;

    flex: 0 0 auto;
  }

  .experience-card-lrg {
    width: 350px;
    height: auto;
    /* flex: 1; */
    margin-right: 20px;
    margin: auto;
    margin-bottom: 20px;
    flex: 0 0 auto;
  }

  .card-img-top-lrg {
    height: 200px;
  }

  .secondary-nav-item {
    border-right: none;
  }

  /* .secondary-nav {
    
    border-radius: 3px;
    width: 300px;
    font-size: 12px;
    margin: auto;
    margin-top: -20px;
  } */
}

/* xs < 768 */
@media screen and (min-width: 767px) {
  .experience-card {
    width: 300px;
    height: 320px;
    /* flex: 1; */
    margin-right: 20px;

    flex: 0 0 auto;
  }

  .secondary-nav {
    border-radius: 3px;
    width: 350px;
    margin: auto;
    margin-top: -20px;
  }

  .secondary-nav-item:not(:last-child) {
    border-right: 1px solid lightgrey;
  }
  .experience-card-lrg {
    margin: auto;
    margin-bottom: 20px;
  }
}

/* sm */
@media screen and (min-width: 768px) {
  .form-size {
    width: 60%;
  }
}

/* md */
@media screen and (min-width: 992px) {
  .form-size {
    width: 60%;
  }
  .experience-card-lrg {
    width: 300px;
    height: auto;
  }
}

/* lg */
@media screen and (min-width: 1200px) {
}
