code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.name-font {
  font-family: 'Dancing Script', cursive;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.bg-color {
  background-color: whitesmoke;
}

:root {
  --primary-color: 191, 36, 152;
}

.hover:hover {
  color: rgb(var(--primary-color));
}
.primary-color {
  color: rgb(var(--primary-color));
}
.secondary {
  color: grey;
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}

/* Jumbotron */
.jumbotron {
  background: url('../img/jumbotron-kimson-doan.jpg');
  background-repeat: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
  /* margin-top: -25px; */
}

.jumbotron h1 {
  padding-top: 50px;
}

/* NavBar */
.nav {
  z-index: 2;
  background-color: white;
  box-shadow: 0px 4px 20px 1px grey;
}

.nav-item {
  color: #4a4a4a;
  z-index: 2;
}
.nav-item:hover {
  color: rgb(var(--primary-color));
}

/* Form */
.form-size {
  width: 70%;
  margin: auto;
  margin-top: 50px;
  border: thin solid lightgray;
  border-top: solid rgb(var(--primary-color));
  box-shadow: 0px 4px 20px 1px grey;
}
.button {
  color: rgb(var(--primary-color));
}

/* Experience Cards */

/* .experience-card {
  width: 200px;
  height: 270px;
  box-shadow: 0px 4px 5px 0px grey;
  margin-right: 20px;

  flex: 0 0 auto;
}

.experience-user-avatar {
  border-radius: 50%;
  width: 25%;
  border: white solid;
  margin-top: -40px;
  margin-left: 15px;
}

.experience-subheading {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  font-size: small;
}
.experience-card span {
  color: rgb(var(--primary-color));
}
.card-title {
  font-weight: bold;
} */

.experience {
  margin-bottom: 15px;
}

/* Experience Card Large */

.experience-card {
  width: 350px;
  height: auto;
  box-shadow: 0px 4px 5px 0px grey;
  /* flex: 1; */
  margin-right: 20px;

  flex: 0 0 auto;
}

.heart {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
}

.saved {
  color: red;
}

.heart-btn {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.experience-user-avatar {
  border-radius: 50%;
  width: 25%;
  border: white solid;
  margin-top: -40px;
  margin-left: 15px;
}

.experience-subheading {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  font-size: small;
}
.experience-card span {
  color: rgb(var(--primary-color));
}

/* Footer */
table {
  width: 100%;
}

td {
  width: 33%;
}

/* xs < 768 */
@media screen and (max-width: 550px) {
  .experience-card {
    width: 200px;
    height: 270px;
    box-shadow: 0px 4px 5px 0px grey;
    /* flex: 1; */
    margin-right: 20px;

    flex: 0 0 auto;
  }

  .experience-user-avatar {
    border-radius: 50%;
    width: 25%;
    border: white solid;
    margin-top: -40px;
    margin-left: 15px;
  }

  .experience-subheading {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    font-size: small;
  }
  .experience-card span {
    color: rgb(var(--primary-color));
  }

  .nav-item {
    font-size: 12px;
  }

  .secondary-nav-item {
    border-right: none;
  }

  .secondary-nav {
    background-color: white;
    box-shadow: 0px 4px 20px 1px grey;
    border-radius: 3px;
    width: 80%;
    font-size: 12px;
    margin: auto;
    margin-top: -20px;
  }

  .cards-slider {
    position: relative;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }

  table,
  td {
    font-size: 8px;
    padding: 0;
  }
}

/* xs < 768 */
@media screen and (min-width: 551px) {
  .experience-card {
    width: 300px;
    height: 320px;
    box-shadow: 0px 4px 5px 0px grey;
    /* flex: 1; */
    margin-right: 20px;

    flex: 0 0 auto;
  }

  .secondary-nav-item {
    border-right: none;
  }

  .secondary-nav {
    background-color: white;
    box-shadow: 0px 4px 20px 1px grey;
    border-radius: 3px;
    width: 55%;
    font-size: 12px;
    margin: auto;
    margin-top: -20px;
  }
}

/* xs < 768 */
@media screen and (min-width: 767px) {
  .experience-card {
    width: 300px;
    height: 320px;
    box-shadow: 0px 4px 5px 0px grey;
    /* flex: 1; */
    margin-right: 20px;

    flex: 0 0 auto;
  }

  .secondary-nav {
    background-color: white;
    box-shadow: 0px 4px 20px 1px grey;
    border-radius: 3px;
    width: 50%;
    margin: auto;
    margin-top: -20px;
  }

  .secondary-nav-item {
    border-right: 1px solid lightgrey;
  }
}

/* sm */
@media screen and (min-width: 768px) {
  .secondary-nav {
    width: 40%;
  }
}

/* md */
@media screen and (min-width: 992px) {
}

/* lg */
@media screen and (min-width: 1200px) {
}
