.liked {
  color: blue;
}

.post-btn {
  display: block;
}
textarea {
  width: 100%;
}

.comment-textarea {
  width: 60%;
  border-radius: 15px;
  text-indent: 5px;
}
.comment-btn {
  border-radius: 15px;
  font-size: x-small;
  margin-bottom: 15px;
  display: inline-block;
}
.comment-avatar {
  display: inline-block;
  margin-bottom: 15px;
}

@media screen and (max-width: 550px) {
  .comment-textarea {
    width: 50%;
  }
}
