.liked {
  color: blue;
}

.post-btn {
  display: block;
}

.card-header-bg {
  background-color: blue;
}

textarea {
  width: 100%;
  border-radius: 10px;
}
.post-textarea {
  width: 80%;
  border-radius: 10px;
  text-indent: 5px;
}

.comment-textarea {
  width: 60%;
  border-radius: 10px;
  text-indent: 5px;
}
.edit-comment-textarea {
  width: 50%;
}
.comment-btn {
  border-radius: 15px;
  font-size: x-small;
  margin-bottom: 15px;
  display: inline-block;
}
.comment-avatar {
  display: inline-block;
  margin-bottom: 15px;
}

.commenter-avatar {
  margin-bottom: 30px;
}

.comment-name {
  font-weight: bold;
  font-size: 14px;
}

.comment-date {
  font-weight: lighter;
  font-size: 10px;
}

.comment-text {
  font-size: 13px;
}

.comment-like {
  font-size: 13;
  text-decoration: none;
}

@media screen and (max-width: 550px) {
  .post-textarea {
    width: 90%;
  }
  .comment-textarea {
    width: 54%;
    font-size: 12px;
  }

  .comment-name {
    font-size: 12px;
  }
}
