.profile-wrapper {
  z-index: 0;
  margin-top: -60px;
}

.profile-bg-img {
  background-repeat: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
  z-index: 0;
}

.profile-picture {
  border-radius: 100%;
  width: 25%;
  border: 4px white solid;
  margin-top: -80px;
  margin-left: 37%;
}

@media screen and (max-width: 550px) {
  .profile-bg-img {
    height: 35vh;
    width: 100%;
  }
}
