.profile-wrapper {
  z-index: 0;
  margin-top: -60px;
}

.profile-bg-img {
  background-repeat: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
  z-index: 0;
}

.profile-picture {
  border-radius: 100%;
  width: 25%;
  border: 4px white solid;
  margin-top: -80px;
  margin-left: 37%;
}

/* Edit Profile */

.edit-profile-picture-circular {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 33%;
}

.edit-profile-picture {
  /* border-radius: 50%; */
  width: 100%;
  height: auto;
  /* margin-left: 33%; */
  /* background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat; */
}

.edit-cover-photo {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 3%;
}

@media screen and (max-width: 550px) {
  .profile-bg-img {
    height: 35vh;
    width: 100%;
  }
  .profile-picture {
    margin-top: -40px;
    margin-left: 37%;
  }
  .edit-profile-picture {
    border-radius: 100%;
    width: 60%;
    margin-left: 22%;
  }
}
